<!doctype html>
<html>
<head>
	<%- include partials/header.ejs %>
</head>
<body>
<%- include partials/nav.ejs %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h3 class="text-title"><span class="fa fa-user"></span>&nbsp;User information</h3>
			<form action="/profile-edit-user" method="post" class="form col-md-12 center-block">
			<p class="profile-text">
			<% if (message.length > 0) { %>
				<div id="error-messages" class="form-group alert alert-danger"><%= message %></div>
			<% } %>
				<strong>Username</strong>: <%= user.local.username %><br>
				<strong>Password</strong>: 
					<input type="password" class="form-control input-lg signup-text" name="password" placeholder="Password">
				<strong>Password</strong>: 
					<input type="confirm-password" class="form-control input-lg signup-text" name="password" placeholder="Confirm password">
				<strong>Birthyear</strong>: 
					<input type="text" class="form-control input-lg signup-text" name="birthyear" value="<%=user.local.birthyear%>">
				<strong>Pronoun</strong>: 
				<div class="form-group btn-group btn-group-lg btn-group-justified" data-toggle="buttons">
					<label id="he" class="btn btn-default pronoun-text"><input type="radio" name="pronoun" value="he">He</label>
					<label id="she" value="she" class="btn btn-default pronoun-text"><input type="radio" name="pronoun" value="she">She</label>
					<label id="they" class="btn btn-default pronoun-text"><input type="radio" name="pronoun" value="they">They</label>
				</div>
			</p>
			<div class="form-group edit-div">
				<button type="submit" value="submit" class="btn btn-primary btn-lg btn-block sign-in edit-button">Save</button>
			</div>
			</form>
		</div>
		<div class="col-md-9">
			<h3 class="text-title"><span class="fa icon-notebook"></span>&nbsp;Story</h3>
			<p><%= user.local.story %></p>
		</div>
	</div>
	</div>
</body>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$("#<%=user.local.pronoun%>").addClass("active");
	});
</script>
</html>
