<!doctype html>
<html>
<head>
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>
	<div id="text-display" class="page-header">All About You</div>
	<div class="container">
	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-md-4">
			<div class="well">
				<h3 class="text-title"><span class="fa fa-user"></span>User information</h3>
				<p>
					<strong>Username</strong>: <%= user.local.username %><br>
					<strong>Password</strong>: <% for (var i = 0; i < user.local.password_length; i++) { %>*<% } %><br>
					<strong>Birthyear</strong>: <%= user.local.birthyear %><br>
					<strong>Pronoun</strong>: <%= user.local.pronoun %><br>
				</p>
			</div>
		</div>
		<div class="col-md-8">
			<div class="well">
				<h3 class="text-title"><span class="fa fa-paper-plane"></span>Your story</h3>
				<p>
					<% if (user.local.story > 0) { %>
						
					<% } else {%>
						<a href="/share">Share your story</a>
					<% } %>
				</p>
			</div>
		</div>
	</div>
	</div>
</body>
</html>