<!doctype html>
<html>
<head>
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>
	<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h3 class="text-title"><span class="fa fa-user"></span>&nbsp;User information</h3>
			<form action="/profile-edit-user" method="get" class="form col-md-12 center-block">
			<p class="profile-text">
				<strong>Username</strong>: <%= user.local.username %><br>
				<strong>Password</strong>: <% for (var i = 0; i < user.local.password_length; i++) { %>*<% } %><br>
				<strong>Birthyear</strong>: <%= user.local.birthyear %><br>
				<strong>Pronoun</strong>: <%= user.local.pronoun %><br>
			</p>
			<div class="form-group edit-div">
				<button type="submit" value="submit" class="btn btn-primary btn-lg btn-block sign-in edit-button">Edit</button>
			</div>
			</form>
		</div>
		<div class="col-md-9">
			<h3 class="text-title"><span class="fa icon-notebook"></span>&nbsp;Story</h3>
			<p><%= user.local.story %></p>
		</div>
	</div>
	</div>
</body>
</html>
